.site-brand-container {
  background: $red-customize;
  height: 100px;
  +tablet-mobile() {
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  }
}

.site-meta {
  padding: 20px 0;
}

.brand {
  padding: 0;
}

.site-title {
  font-size 2.3em;
  font-weight lighter;
  +tablet-mobile() {
    font-size 1.3em;
    line-height: 3em;
  }
}

.site-subtitle {
  color: white;
  margin: 10px 10px 0;
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}
